* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
  color: #333;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
}

.header .logo {
  font-weight: bold;
  font-size: 18px;
}

.header ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.header a {
  text-decoration: none;
  color: #333;
}

/* MAIN */
.main {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.container {
  display: flex;
  align-items: center;
  gap: 80px;
  padding: 60px;
  border-radius: 4px;
}

/* IMAGE */
.image img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

/* TEXT */
.content h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.content h3 {
  margin-bottom: 15px;
  font-weight: normal;
}

.content p {
  max-width: 400px;
  line-height: 1.6;
  margin-bottom: 25px;
}

/* BUTTONS */
.buttons {
  display: flex;
  gap: 20px;
}

.btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.yellow {
  background: #f4b400;
}

.red {
  background: #db4437;
}

.blue {
  background: #76c7c0;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  border-top: 1px solid #ccc;
  margin-top: 40px;
  font-size: 14px;
}
.social a {
  margin-right: 15px;
  color: #333;
  font-size: 18px;
  transition: 0.3s;
}

.social a:hover {
  color: #000;
  transform: scale(1.2);
}   
/* partie cv css*/
/* MAIN GLOBAL */
main {
  
  padding: 70px;
}

/* CONTENEUR CV */
.cv-container {
  width: 800px;
  justify-content: space-between;
  
}

/* TITRE PRINCIPAL */
.cv-container h1 {
  font-size: 22px;
  margin-bottom: 30px;
}

/* SECTIONS */
.section {
  margin-bottom: 40px;
}

/* TITRES DE SECTION */
.section h2 {
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: bold;
}

/* ITEM (expérience, formation, etc.) */
.item {
  margin-bottom: 20px;
}

/* LIGNE TITRE + DATE */
.item-header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
}

/* SOUS-TITRE */
.item-subtitle {
  font-size: 13px;
  color: #666;
  margin-bottom: 10px;
}

/* DESCRIPTION */
.item p {
  font-size: 13px;
  line-height: 1.6;
  color: #444;
}

/* LISTES */
.item ul {
  margin-top: 8px;
  padding-left: 18px;
}

.item ul li {
  font-size: 13px;
  margin-bottom: 5px;
  color: #444;
}

/* SÉPARATEUR */
.section:not(:last-child) {
  border-bottom: 1px solid #eee;
  padding-bottom: 25px;
}

/* LANGUES / COMPÉTENCES */
.skills li,
.languages li {
  list-style: disc;
}
/*partie projets*/
/*partie contact*/