
.main-header{
   
   
}
.nav-bar ul{

 
}

/* Conteneur pour aligner les cercles */
  /*  .container {
        display: flex;
        gap: 20px; /* Espace entre les cercles */
       /* justify-content: center;
        margin-top: 50px;
    }

    /* Style de base des cercles */
   /* .cercle {
        width: 100px;
        height: 100px;
        border-radius: 50%; /* Rend le div circulaire */
       /* display: flex;
       /* align-items: center;
        justify-content: center;
        color: white;
        font-family: Arial, sans-serif;
        font-weight: bold;
    }

    /* Couleurs différentes */
   /* .cercle-1 { background-color: #e7c519af; } /*
    .cercle-2 { background-color: #FF5733;; } /* 
    .cercle-3 { background-color: #3357FF; } /* 